$defaultFont: 'Helvetica', sans-serif;

/* bg color */
    html {
        background-color: rgb(247, 247, 247);
    }
/* */

/* Buttons */
    /* Contas */
        #r-c-- {
            position: fixed;
            inset: 0;
            margin: auto;

            left: -17rem;
            top: -5rem;

            width: 14rem;
            height: 14rem;

            display: flex;
            justify-content: center;
            align-items: center;

            color: rgb(114, 114, 114);

            border: 0;
            border-radius: 6px;
            box-shadow: 0px 2px 4px #00000025;
            background-color: white;

            /* hover */
                transition: background-color 0.12s ease, box-shadow 0.12s ease;

                &:hover {
                    cursor: pointer;

                    background-color: rgb(242, 242, 242);

                    box-shadow: 0px 2px 5px #0000004a;

                    color: rgb(92, 92, 92);
                }
            /* */

            /* p & img */
                p {
                    position: relative;
                    top: 6.2rem;

                    font-family: $defaultFont;
                    font-size: 22px;
                    font-weight: bolder;

                    text-shadow: 0px 2px 1px #00000025;
                }

                img {
                    position: absolute;

                    top: 0.8rem;

                    width: 12rem;
                    height: 12rem;
                }
            /* */
        }
    /* */

    /* Fornecedores */
        #r-f-- {
            position: fixed;
            inset: 0;
            margin: auto;

            left: 14rem;
            top: -5rem;

            width: 14rem;
            height: 14rem;

            display: flex;
            justify-content: center;
            align-items: center;

            border: 0;
            border-radius: 6px;

            color: rgb(114, 114, 114);

            box-shadow: 0px 2px 4px #00000025;
            background-color: white;

            /* hover */
                transition: background-color 0.12s ease, box-shadow 0.12s ease;

                &:hover {
                    cursor: pointer;

                    background-color: rgb(242, 242, 242);

                    box-shadow: 0px 2px 4px #0000004a;

                    color: rgb(92, 92, 92);
                }
            /* */

            /* p & img */
                p {
                    position: relative;
                    top: 6.2rem;

                    font-family: $defaultFont;
                    font-size: 21px;
                    font-weight: bolder;

                    text-shadow: 0px 2px 1px #00000017;
                }

                img {
                    position: absolute;

                    top: 0.4rem;

                    width: 12rem;
                    height: 12rem;
                }
            /* */
        }
    /* */
/* */