/* bg color */
html {
  background-color: rgb(247, 247, 247);
}

/* */
/* Buttons */
/* voltar */
#--b-p-f {
  width: 12rem;
  height: 4rem;
  border: 0;
  border-radius: 6px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1450980392);
  /* text */
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  font-weight: bolder;
  color: rgb(69, 69, 69);
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1450980392);
  /* */
  /* hover */
  transition: background-color 0.12s ease, box-shadow 0.12s ease;
  /* */
}
#--b-p-f:hover {
  cursor: pointer;
  background-color: rgb(244, 244, 244);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2745098039);
  color: rgb(56, 56, 56);
}

/* */
/* adicionar */
#add-fornc-- {
  position: absolute;
  width: 4rem;
  height: 4rem;
  left: 16rem;
  border: 0;
  border-radius: 6px;
  background-color: #8037D3;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1450980392);
  /* text */
  font-family: Helvetica, sans-serif;
  font-size: 46px;
  color: white;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1450980392);
  /* */
  /* hover */
  transition: background-color 0.12s ease, box-shadow 0.12s ease;
  /* */
}
#add-fornc--:hover {
  cursor: pointer;
  background-color: #6a2eae;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2745098039);
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2470588235);
}

/* */
/* baixar */
#btn-d-json-f-- {
  position: absolute;
  width: 12rem;
  height: 4rem;
  left: 20.13rem;
  border: 0;
  border-radius: 6px;
  background-color: #3f6fb8;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1450980392);
  /* text */
  font-family: Helvetica, sans-serif;
  font-size: 17px;
  font-weight: bolder;
  color: white;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1450980392);
  /* */
  /* hover */
  transition: background-color 0.12s ease, box-shadow 0.12s ease;
  /* */
  /* disabled */
  /* */
}
#btn-d-json-f--:hover {
  cursor: pointer;
  background-color: #37609e;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2745098039);
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2470588235);
}
#btn-d-json-f--:disabled {
  cursor: default;
  font-weight: bold;
  color: rgb(108, 108, 108);
  text-shadow: 0px 0px 0px;
  box-shadow: 0px 0px 0px;
  background-color: rgb(215, 215, 215);
}

/* */
/* carregar */
/* input */
#i-l-json-f-- {
  opacity: 0;
  position: absolute;
  width: 13rem;
  height: 4rem;
  cursor: pointer;
}

/* */
/* label */
#l-l-json-f-- {
  position: absolute;
  left: 32.3rem;
  width: 13rem;
  height: 4rem;
  background-color: #3f6fb8;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1450980392);
  border: 0;
  border-radius: 6px;
  /* hover */
  /* */
  /* text */
  /* */
}
#l-l-json-f--:hover {
  cursor: pointer;
  background-color: #37609e;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2745098039);
}
#l-l-json-f-- p {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0.4rem;
  font-family: Helvetica, sans-serif;
  font-weight: bolder;
  color: white;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1450980392);
}

/* */
/* */
/* hr */
hr {
  position: relative;
  border: 0;
  width: 100%;
  height: 0.01rem;
  background-color: rgb(207, 207, 207);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0901960784);
}

/* */
/* */
#--d-fornc {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  border-bottom: 1px solid rgb(197, 197, 197);
  /* text */
  /* */
  /* hover */
  /* */
  /* deletar */
  /* */
}
#--d-fornc p {
  position: relative;
  left: 0.2rem;
  top: 0.2rem;
  font-family: Helvetica, sans-serif;
}
#--d-fornc:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.162);
}
#--d-fornc #btn-del-- {
  position: relative;
  top: -0.2rem;
  left: 0.2rem;
  width: 2rem;
  height: 2rem;
  border: 0;
  border-radius: 6px;
  font-size: 24px;
  background-color: rgb(157, 26, 26);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0745098039);
  /* text */
  color: white;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1450980392);
  /* */
  /* hover */
  transition: background-color 0.12s ease;
  /* */
}
#--d-fornc #btn-del--:hover {
  cursor: pointer;
  background-color: rgb(131, 22, 22);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2745098039);
}

/* menu */
/* overflow */
#overflow {
  z-index: 2;
  position: absolute;
  display: none;
  width: 100%;
  height: 1000%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.201);
}

/* */
#d-menu-fornc-- {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  z-index: 9;
  position: fixed;
  inset: 0;
  margin: auto;
  width: 25rem;
  height: 37rem;
  border: 0;
  border-radius: 6px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0745098039);
  /* input & label */
  /* input... */
  /* erros */
  /* */
  /* */
  /* label */
  /* erros */
  /* */
  /* */
  /* */
  /* .i */
  /* 1 */
  /* */
  /* 2 */
  /* */
  /* 3 */
  /* */
  /* 4 */
  /* */
  /* */
  background-color: rgb(255, 255, 255);
  /* buttons */
  /* */
}
#d-menu-fornc-- input, #d-menu-fornc-- label {
  position: absolute;
  left: 6rem;
  display: flex;
  flex-direction: column;
  margin-top: 1px;
}
#d-menu-fornc-- input {
  border: 1px solid transparent;
  border-radius: 6px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1450980392);
}
#d-menu-fornc-- input:hover {
  cursor: text;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2745098039);
  background-color: rgb(231, 231, 231);
}
#d-menu-fornc-- .input-err- {
  border: 1px solid rgb(157, 26, 26);
}
#d-menu-fornc-- label {
  font-family: Helvetica, sans-serif;
  width: -moz-fit-content;
  width: fit-content;
}
#d-menu-fornc-- #l- {
  font-size: 14px;
}
#d-menu-fornc-- .label-err- {
  color: rgb(157, 26, 26);
}
#d-menu-fornc-- .i-1- {
  position: relative;
  top: -1rem;
  margin: 2px;
}
#d-menu-fornc-- .i-2- {
  position: relative;
  top: 0rem;
  margin: 2px;
}
#d-menu-fornc-- .i-3- {
  position: relative;
  top: 1rem;
  margin: 2px;
}
#d-menu-fornc-- .i-4- {
  position: relative;
  top: 2rem;
  margin: 2px;
}
#d-menu-fornc-- #btn-f-menu-fornc-- {
  position: relative;
  border: 0;
  left: 0.5rem;
  top: 0.5rem;
  background-color: transparent;
  font-size: 20px;
  /* hover */
  /* */
}
#d-menu-fornc-- #btn-f-menu-fornc--:hover {
  cursor: pointer;
  background-color: rgb(238, 238, 238);
  border-radius: 6px;
}
#d-menu-fornc-- #btn-c-fornc-- {
  position: absolute;
  inset: 0;
  margin: auto;
  top: 32.6rem;
  width: 92%;
  height: 3rem;
  border: 0;
  border-radius: 6px;
  background-color: #8037D3;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1450980392);
  /* text */
  font-family: Helvetica, sans-serif;
  font-size: 17px;
  font-weight: bolder;
  color: white;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1450980392);
  /* */
  /* hover */
  transition: background-color 0.12s ease, box-shadow 0.12s ease;
  /* */
}
#d-menu-fornc-- #btn-c-fornc--:hover {
  cursor: pointer;
  background-color: #6a2eae;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2745098039);
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2470588235);
}

/* *//*# sourceMappingURL=main-fornc.css.map */