/* ------- Imports ------- */
/* bg color */
html {
  background-color: rgb(247, 247, 247);
}

/* */
/* Buttons */
/* Contas */
#r-c-- {
  position: fixed;
  inset: 0;
  margin: auto;
  left: -17rem;
  top: -5rem;
  width: 14rem;
  height: 14rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(114, 114, 114);
  border: 0;
  border-radius: 6px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1450980392);
  background-color: white;
  /* hover */
  transition: background-color 0.12s ease, box-shadow 0.12s ease;
  /* */
  /* p & img */
  /* */
}
#r-c--:hover {
  cursor: pointer;
  background-color: rgb(242, 242, 242);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2901960784);
  color: rgb(92, 92, 92);
}
#r-c-- p {
  position: relative;
  top: 6.2rem;
  font-family: "Helvetica", sans-serif;
  font-size: 22px;
  font-weight: bolder;
  text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.1450980392);
}
#r-c-- img {
  position: absolute;
  top: 0.8rem;
  width: 12rem;
  height: 12rem;
}

/* */
/* Fornecedores */
#r-f-- {
  position: fixed;
  inset: 0;
  margin: auto;
  left: 14rem;
  top: -5rem;
  width: 14rem;
  height: 14rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  border-radius: 6px;
  color: rgb(114, 114, 114);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1450980392);
  background-color: white;
  /* hover */
  transition: background-color 0.12s ease, box-shadow 0.12s ease;
  /* */
  /* p & img */
  /* */
}
#r-f--:hover {
  cursor: pointer;
  background-color: rgb(242, 242, 242);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2901960784);
  color: rgb(92, 92, 92);
}
#r-f-- p {
  position: relative;
  top: 6.2rem;
  font-family: "Helvetica", sans-serif;
  font-size: 21px;
  font-weight: bolder;
  text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.0901960784);
}
#r-f-- img {
  position: absolute;
  top: 0.4rem;
  width: 12rem;
  height: 12rem;
}

/* */
/* */
/* Buttons */
#--b-p-c {
  width: 12rem;
  height: 4rem;
  border: 0;
  border-radius: 6px;
  font-size: 22px;
  background-color: rgb(255, 255, 255);
}

/* */
/* Menu */
#d-menu-- {
  position: fixed;
  inset: 0;
  margin: auto;
  width: 40rem;
  height: 25rem;
  top: -4rem;
  background-color: rgb(152, 62, 62);
  /* Elementos */
  /* Inputs */
  /* Pago? */
  /*
  /* */
  /* Buttons */
  /* Confirmar e fechar */
  /* */
  /* */
  /* */
}
#d-menu-- #d-menu-elmts-- {
  display: flex;
  justify-content: center;
  align-items: center;
}
#d-menu-- #d-menu-elmts-- input {
  display: block;
}
#d-menu-- #i-fornc-- {
  position: relative;
  top: 2.5rem;
  left: 3rem;
}
#d-menu-- #i-vlr-- {
  position: relative;
  top: 2.5rem;
  left: 9rem;
}
#d-menu-- #i-venc-- {
  position: relative;
  top: 5.5rem;
  left: -23.8rem;
}
#d-menu-- #pg-s {
  position: relative;
  top: 5.5rem;
  left: -9rem;
  display: flex;
}
#d-menu-- #pg-n {
  position: relative;
  top: 5.5rem;
  left: -8rem;
  display: flex;
}
#d-menu-- #btn-c-conta-- {
  position: relative;
  left: 8rem;
}
#d-menu-- #btn-f-menu-- {
  position: relative;
  left: 0.5rem;
}
#d-menu-- #--btn-n-fornc {
  position: relative;
  top: 2.5rem;
  left: 3rem;
}
#d-menu-- #--btn-l-fornc {
  position: relative;
  top: 2.5rem;
  left: 3rem;
}

/* */
/* Contas */
#--d-c:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.234);
}

/* */
#d-fornc-- {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: flex;
}
#d-fornc--:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.162);
}

#d-menu-fornc-- {
  width: 45rem;
  background-color: rgb(166, 99, 99);
}

#opt-fornc-- {
  background-color: white;
}

/* ----------------------- *//*# sourceMappingURL=style.css.map */