$defaultFont: Helvetica, sans-serif;

/* bg color */
    html {
        background-color: rgb(247, 247, 247);
    }
/* */

/* Buttons */
    /* voltar */
        #--b-p-c {
            width: 12rem;
            height: 4rem;

            border: 0;
            border-radius: 6px;

            background-color: rgb(255, 255, 255);

            box-shadow: 0px 2px 4px #00000025;

            /* text */
                font-family: $defaultFont;

                font-size: 22px;
                font-weight: bolder;
                
                color: rgb(69, 69, 69);
                
                text-shadow: 0px 2px 2px #00000025;
            /* */

            /* hover */
                transition: background-color 0.12s ease, box-shadow 0.12s ease;

                &:hover {
                    cursor: pointer;
                    
                    background-color: rgb(244, 244, 244);
                    box-shadow: 0px 2px 4px #00000046;

                    color: rgb(56, 56, 56);
                }
            /* */
        }
    /* */

    /* adicionar */
        #add-btn-- {
            position: absolute;
            
            width: 4rem;
            height: 4rem;

            left: 16rem;
            
            border: 0;
            border-radius: 6px;

            background-color: #5cb756;
            box-shadow: 0px 2px 4px #00000025;

            /* text */
                font-family: $defaultFont;

                font-size: 46px;

                color: white;
                text-shadow: 0px 2px 2px #00000025;
            /* */

            /* hover */
                transition: background-color 0.12s ease, box-shadow 0.12s ease;

                &:hover {
                    cursor: pointer;

                    background-color: #51a14b;
                    box-shadow: 0px 2px 4px #00000046;

                    text-shadow: 0px 2px 2px #0000003f;
                }
            /* */
        }
    /* */

    /* baixar */
        #btn-d-json-- {
            position: absolute;

            width: 8rem;
            height: 4rem;

            left: 20.13rem;

            border: 0;
            border-radius: 6px;

            background-color: #3f6fb8;
            box-shadow: 0px 2px 4px #00000025;

            /* texts */
                font-family: $defaultFont;

                font-size: 15.5px;
                font-weight: bolder;

                color: white;
                text-shadow: 0px 2px 2px #00000025;
            /* */

            /* hover */
                transition: background-color 0.12s ease, box-shadow 0.12s ease;

                &:hover {
                    cursor: pointer;

                    background-color: #37609e;
                    box-shadow: 0px 2px 4px #00000046;

                    text-shadow: 0px 2px 2px #0000003f;
                }
            /* */

            /* disabled */
                &:disabled {
                    cursor: default;
                    font-weight: bold;

                    color: rgb(108, 108, 108);
                    text-shadow: 0px 0px 0px;
                    box-shadow: 0px 0px 0px;

                    background-color: rgb(215, 215, 215);
                }
            /* */
        }
    /* */

    /* carregar */
        /* input */
            #i-l-json-- {
                user-select: none;
                opacity: 0;

                position: absolute;
                left: 0rem;
                top: 0.5rem;

                width: 13rem;
                height: 4rem;

                z-index: 3;

                cursor: pointer;
            }
        /* */

        /* label */
            #l-l-json-- {
                user-select: none;

                position: fixed;
                left: 28.3rem;

                width: 13rem;
                height: 4rem;

                background-color: #3f6fb8;
                box-shadow: 0px 2px 4px #00000025;
                
                border: 0;
                border-radius: 6px;

                /* hover */
                    &:hover {
                        cursor: pointer;

                        background-color: #37609e;
                        box-shadow: 0px 2px 4px #00000046;
                    }
                /* */
                
                /* text */
                    p {
                        position: relative;

                        display: flex;
                        justify-content: center;
                        align-items: center;

                        top: 0.4rem;

                        font-family: $defaultFont;
                        font-weight: bolder;

                        color: white;
                        text-shadow: 0px 2px 2px #00000025;
                    }
                /* */
            }
        /* */
    /* */
/* */

/* hr */
    hr {
        position: relative;
        border: 0;

        width: 100%;
        height: 0.01rem;

        background-color: rgb(207, 207, 207);
        
        box-shadow: 0px 2px 4px #00000017;
    }
/* */

/* Menu */
    /* overflow */
        #overflow {
            z-index: 2;

            position: absolute;
            display: none;
            
            width: 100%;
            height: 1000%;

            top: 0;
            left: 0;

            background-color: rgba(0, 0, 0, 0.201);
        }
    /* */

    /* erros */
        /* input */
            .c-input-err- {
                border: 1px solid rgb(157, 26, 26) !important;
            }
        /* */

        /* label */
            .c-label-err- {
                color: rgb(157, 26, 26);
            }
        /* */
    /* */

    #d-menu-- {
        user-select: none;
        z-index: 9;

        position: fixed;
        inset: 0;
        margin: auto;

        width: 35rem;
        height: 20rem;

        border-radius: 6px;

        background-color: white;
        box-shadow: 0px 2px 4px #00000013;

        /* fonte */
        font-family: $defaultFont;

        input {
            position: absolute;

            border: 0px;
        }

        /* Elementos */
            #d-menu-elmts-- {
                display: flex;

                justify-content: center;
                align-items: center;

                input {
                    border: 1px solid transparent;
                    border-radius: 6px;

                    box-shadow: 0px 2px 4px #00000025;

                    &:hover {
                        cursor: text;

                        box-shadow: 0px 2px 4px #00000046;
                        background-color: rgb(231, 231, 231);
                    }
                }
            }

            /* Inputs */
                /* fornecedor */
                    /* label */
                        #l-i-fornc {
                            position: absolute;

                            top: 2.2rem;
                            left: 0.7rem;

                            font-size: 14px;
                        }
                    /* */

                    #i-fornc-- {
                        position: absolute;

                        top: 3.5rem;
                        left: 0.7rem;

                        /* focus */
                            &:focus {
                                outline: 1.5px solid #37609e;
                            }
                        /* */
                    }
                /* */

                /* lista fornecedores */
                    #i-l-fornc-- {
                        position: absolute;
                        top: 3.33rem;
                        left: 12rem;

                        opacity: 0;

                        width: 4rem;
                        height: 1.35rem;
        
        
                        cursor: pointer;
                    }

                    /* label */
                        #l-i-l-fornc-- {
                            position: absolute;
                            top: 3.35rem;
                            left: 12rem;

                            width: 4rem;
                            height: 1.35rem;

                            display: flex;
                            justify-content: center;
                            align-items: center;

                            border: 0;
                            border-radius: 6px;
                            background-color: rgb(215, 215, 215);
                            box-shadow: 0px 2px 4px #00000025;

                            /* texts */
                                font-size: 16px;
                                text-shadow: 0px 2px 2px #00000025;
                            /* */

                            /* hover */
                                &:hover {
                                    cursor: pointer;

                                    box-shadow: 0px 2px 4px #00000046;
                                    background-color: rgb(201, 201, 201);

                                    text-shadow: 0px 2px 2px #0000003f;
                                }
                            /* */
                        }
                    /* */

                    /* lista */
                        #opt-fornc-- {
                            position: absolute;
                            top: 5rem;
                            left: 12rem;

                            font-size: 14px;

                            border: 0;
                            border-radius: 6px;
                            background-color: rgb(215, 215, 215);
                            box-shadow: 0px 2px 4px #00000025;

                            /* hover */
                                &:hover {
                                    cursor: pointer;
                                    box-shadow: 0px 2px 4px #00000046;
                                }
                            /* */
                        }
                    /* */
                /* */

                /* valor */
                    /* label */
                        #l-i-vlr-- {
                            position: absolute;

                            top: 2.2rem;
                            left: 23.5rem;

                            font-size: 14px;
                        }
                    /* */

                    #i-vlr-- {
                        position: absolute;

                        top: 3.5rem;
                        left: 23.5rem;

                        /* focus */
                            &:focus {
                                outline: 1.5px solid #37609e;
                            }
                        /* */
                    }
                /* */

                /* vencimento */
                    /* label */
                        #l-i-venc-- {
                            position: absolute;

                            top: 5.5rem;
                            left: 0.7rem;

                            font-size: 14px;
                        }
                    /* */

                    #i-venc-- {
                        position: absolute;
                        
                        top: 6.5rem;
                        left: 0.7rem;

                        /* focus */
                            &:focus {
                                outline: 1.5px solid #37609e;
                            }
                        /* */
                    }
                /* */

                /* Pago? */
                    #pg- {
                        position: absolute;
                        top: 5.7rem;
                        left: 24rem;
                    }

                    /* Sim */
                        /* label */
                            #l-i-pg-s-- {
                               position: absolute;

                               top: 0.2rem;
                               left: 1.8rem;
                            }
                        /* */

                        #pg-s {
                            position: absolute;
                            top: 6.5rem;
                            left: 27.5rem;

                            display: flex;

                            input[type="radio"] {
                                cursor: pointer;

                                /* before */
                                    &::before {
                                        content: '';
                                        display: inline-block;

                                        width: 20px;
                                        height: 18px;
                                        
                                        opacity: 1;
                                        
                                        background-color: rgb(189, 189, 189);
                                        box-shadow: 0px 2px 4px #00000025;
                                    }

                                    &:checked::before {
                                        background-color: green;
                                        box-shadow: 0px 2px 4px #00000046;
                                    }
                                /* */
                            }
                        }
                    /* */

                    /* Não */
                        /* label */
                            #l-i-pg-n-- {
                                position: absolute;

                                top: 0.2rem;
                                left: 1.7rem;
                            }
                        /* */

                        #pg-n {
                            position: absolute;
                            top: 6.5rem;
                            left: 31rem;

                            display: flex;

                            input[type="radio"] {
                                cursor: pointer;

                                /* before */
                                    &::before {
                                        content: '';
                                        display: inline-block;

                                        width: 20px;
                                        height: 18px;
                                        
                                        opacity: 1;
                                        
                                        background-color: rgb(189, 189, 189);
                                        box-shadow: 0px 2px 4px #00000025;
                                    }

                                    &:checked::before {
                                        background-color: rgb(145, 27, 27);
                                        box-shadow: 0px 2px 4px #00000046;
                                    }
                                /* */
                            }
                        }
                    /* */
                /*
            /* */

            /* Buttons */
                /* Confirmar e fechar */
                    #btn-c-conta-- {
                        position: absolute;

                        width: 95%;
                        height: 4rem;

                        top: 15.5rem;
                        left: 0.8rem;

                        border: 0;
                        border-radius: 6px;

                        background-color: #5cb756;
                        box-shadow: 0px 2px 4px #00000025;

                        /* text */
                            font-family: $defaultFont;

                            font-size: 18px;

                            color: white;
                            text-shadow: 0px 2px 2px #00000025;
                        /* */

                        /* hover */
                            transition: background-color 0.12s ease, box-shadow 0.12s ease;

                            &:hover {
                                cursor: pointer;

                                background-color: #51a14b;
                                box-shadow: 0px 2px 4px #00000046;

                                text-shadow: 0px 2px 2px #0000003f;
                            }
                        /* */
                    }
                    
                    #btn-f-menu-- {
                        position: relative;
                        left: -16.5rem;
                        top: 0.2rem;

                        border: 0;
                        background-color: transparent;

                        font-size: 18px;

                        /* hover */
                            &:hover {
                                cursor: pointer;
            
                                background-color: rgb(238, 238, 238);
                                border-radius: 6px;
                            }
                        /* */
                    }
                /* */

                #--btn-n-fornc {
                    position: relative;
                    top: 2.5rem;
                    left: 3rem;
                }

                #--btn-l-fornc {
                    position: relative;
                    top: 2.5rem;
                    left: 3rem;
                }
            /* */
        /* */
    }
/* */

/* Contas */
    /* deletar contas */
        #c-btn-del-- {
            border: 0;

            background-color: rgb(157, 26, 26);
            box-shadow: 0px 2px 4px #00000013;
            
            /* text */
                color: white;
                text-shadow: 0px 2px 2px #00000025;
            /* */

            /* hover */
            transition: background-color 0.12s ease;
                &:hover {
                    cursor: pointer;

                    background-color: rgb(131, 22, 22);
                    box-shadow: 0px 2px 4px #00000046;
                }
            /* */
        }
    /* */

    #--d-c {
        user-select: none;

        position: relative;
        left: 0rem;
        top: 0rem;

        border-bottom: 1px solid rgb(197, 197, 197);

        /* texts */
            p {
                position: relative;

                display: inline;

                top: 0rem;
                left: -3rem;
                margin-left: 55px;
                
                font-family: $defaultFont;
                font-weight: bold;
            }
        /* */

        /* hover */
            &:hover {
                cursor: pointer;

                background-color: rgba(0, 0, 0, 0.117);
            }
        /* */
    }
/* */