/* Menu */
#d-menu-- {
    position: fixed;
    inset: 0;
    margin: auto;

    width: 40rem;
    height: 25rem;

    top: -4rem;

    background-color: rgb(152, 62, 62);

    /* Elementos */
        #d-menu-elmts-- {
            display: flex;

            justify-content: center;
            align-items: center;

            input {
                display: block;
            }
        }

        /* Inputs */
            #i-fornc-- {
                position: relative;
                top: 2.5rem;
                left: 3rem;

            }

            #i-vlr-- {
                position: relative;
                top: 2.5rem;
                left: 9rem;
            }

            #i-venc-- {
                position: relative;
                top: 5.5rem;
                left: -23.8rem;
            }

            /* Pago? */
                #pg-s {
                    position: relative;
                    top: 5.5rem;
                    left: -9rem;

                    display: flex;
                }

                #pg-n {
                    position: relative;
                    top: 5.5rem;
                    left: -8rem;

                    display: flex;
                }
            /*
        /* */
        /* Buttons */
            /* Confirmar e fechar */
                #btn-c-conta-- {
                    position: relative;
                    left: 8rem;
                }
                
                #btn-f-menu-- {
                    position: relative;
                    left: 0.5rem;
                }
            /* */

            #--btn-n-fornc {
                position: relative;
                top: 2.5rem;
                left: 3rem;
            }

            #--btn-l-fornc {
                position: relative;
                top: 2.5rem;
                left: 3rem;
            }
        /* */
    /* */
}
/* */

/* Contas */
#--d-c {
    &:hover {
        cursor: pointer;
        
        background-color: rgba(0, 0, 0, 0.234);
    }
}
/* */